﻿@model Lab03.Models.Product
<h2>@Model.Name</h2>
<div>
    <h3>Price: @Model.Price</h3>
    <p>@Model.Description</p>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
@*         <img src="@Model.ImageUrl" alt="Product Image" style="max-width:
200px;" /> *@
    }
</div>

<a asp-action="Index" class="btn btn-info">Back to List</a>


<div class="container mt-4">
    <div class="row">
        <!-- Danh sách sản phẩm -->
        <div class="col-md-9">
            <!-- Hiển thị sản phẩm bằng dạng dòng sản phẩm sử dụng Bootstrap Row và Col -->
            <div class="row">
                <!-- Sản phẩm -->
                <div class="col">
                    <div class="card">
                        <img src="@Model.ImageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
@*                             <h5 class="card-title">@Model.Name</h5>
                            <p class="card-text">@Model.Description</p>
                            <p class="card-text">@Model.Price</p> *@
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="bg-primary text-white p-3">
                <h5>Social Media</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">Facebook</a></li>
                    <li><a class="text-white" href="#">Twitter</a></li>
                    <li><a class="text-white" href="#">Instagram</a></li>
                    <li><a class="text-white" href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>