﻿@model IEnumerable<Lab03.Models.Product>
    <h2>Products</h2>

<div class="container mt-4">
    <div class="row">
        <!-- Danh sách sản phẩm -->
        <div class="col-md-9">
            <!-- Hiển thị sản phẩm bằng dạng dòng sản phẩm sử dụng Bootstrap Row và Col -->
            <div class="row row-cols-1 row-cols-md-3 g-4">


                @foreach (var product in Model)
                {
                    <!-- Sản phẩm -->
                    <div class="col">
                        <div class="card">
                            <img src="@product.ImageUrl" class="card-img-top" alt="..." style="max-height:135px;">
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text">@product.Price</p>

                                <a asp-action="Display" asp-route-id="@product.Id" class="btn btn-warning">View</a>
                                |
                                <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-success">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="bg-primary text-white p-3">
                <h5>Social Media</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">Facebook</a></li>
                    <li><a class="text-white" href="#">Twitter</a></li>
                    <li><a class="text-white" href="#">Instagram</a></li>
                    <li><a class="text-white" href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@*     <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@(product.Category?.Name ?? "No Category")</td>
                <td>
                    <a asp-action="Display"
asp-route-id="@product.Id">View</a> |
                    <a asp-action="Update"
asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Delete"
asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@